<mat-card>
  <mat-card-title>Add a new Entry</mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <input type="text" matInput placeholder="User" [(ngModel)]="entry.user" #user="ngModel" name="user">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Workshop" [(ngModel)]="entry.workshop" #workshop="ngModel" name="workshop">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Ticket Price" [(ngModel)]="entry.ticketPrice" #ticketPrice="ngModel" name="ticketPrice">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Workshop URL" [(ngModel)]="entry.url" #url="ngModel" name="url">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>

<code>
{{entry | json}}
</code>